* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    border-top: 3px solid #1b1b1b;
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #1b1b1b;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    span {
        color: #3AA491;
    }
}
.search {
    width: 900px;
    height: 40px;
    border: 1px solid #1B1B1B;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px; 
}
.button--green {
    background-color: #3AA491;
    border-radius: 3px;
    padding: 12px 16px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    &:hover {
        background-color: rgb(48, 143, 125);
    }
}
.button--bordered {
    border: 1px solid #1B1B1B;
    border-radius: 3px;
    padding: 12px 16px;
    text-decoration: none;
    color: #1b1b1b;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    &:hover {
        background-color: #1b1b1b;
        color: #ffffff;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    &__item {
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        text-decoration: none;
        color: #1b1b1b;
        &:hover {
            text-decoration: underline;
        }
    }
}
.big-books {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.big-book {
    width: 440px;
    &__image {
        background-color: #dddddd;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
        img {
            box-shadow: -12px 6px 21px rgba(0, 0, 0, 0.5);
            border-radius: 5px 0px 0px 5px;
        }
    }
    &__author {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #3AA491;
        margin-bottom: 10px;
    }
    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;
    }
}
.button--green--big {
    background-color: #3AA491;
    border-radius: 3px;
    padding: 20px 70px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    &:hover {
        background-color: rgb(48, 143, 125);
    }
}
.bestsellers {
    position: relative;
    margin-bottom: 10px;
    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
    }
    &__bg-text {
        font-weight: 700;
        font-size: 288px;
        line-height: 353px;
        position: absolute;
        top: -20%;
        color: rgba(27, 27, 27, 0.02);
        width: 100%;
        overflow: hidden;
    }
    &__books {
        margin-left: -25px;
        display: flex;
        margin-top: 45px;
        justify-content: space-between;
    }
    &__button {

    }
    &__book {

    }
}
.book {
    width: 210px;
    &__tag {
        margin-bottom: 20px;
    }
    &__img {
        margin-bottom: 40px;
        img {
            box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
        }
    }
    &__author {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.44;
        margin-bottom: 14px;
    }
    &__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 14px;
    }
    &__rating {
        
    }
}
.rating {
    display: flex;
    align-items: center;
    &__count {
        color: #3AA491;
        margin-left: 3px;
    }
    &__img {

    }
}
.tag--green {
    background-color: #3AA491;
    padding: 7px 12px;
    display: inline-block;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
}
.tag--gray {
    background-color: #dddddd;
    padding: 7px 12px;
    display: inline-block;
    border-radius: 3px;
    color: #1b1b1b;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}