* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #1b1b1b;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #1b1b1b;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #1b1b1b;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
}

.logo span {
  color: #3AA491;
}

.search {
  width: 60%;
  height: 40px;
  border: 1px solid #1B1B1B;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px;
}

.button--green {
  background-color: #3AA491;
  border-radius: 3px;
  padding: 12px 16px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.button--green:hover {
  background-color: #308f7d;
}

.button--bordered {
  border: 1px solid #1B1B1B;
  border-radius: 3px;
  padding: 12px 16px;
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.button--bordered:hover {
  background-color: #1b1b1b;
  color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.menu__item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-decoration: none;
  color: #1b1b1b;
}

.menu__item:hover {
  text-decoration: underline;
}

.big-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.big-book {
  width: 440px;
}

.big-book__image {
  background-color: #dddddd;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.big-book__image img {
  -webkit-box-shadow: -12px 6px 21px rgba(0, 0, 0, 0.5);
          box-shadow: -12px 6px 21px rgba(0, 0, 0, 0.5);
  border-radius: 5px 0px 0px 5px;
  width: 274px;
}

.big-book__author {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #3AA491;
  margin-bottom: 10px;
}

.big-book__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
  margin-top: 0px;
}

.button--green--big {
  background-color: #3AA491;
  border-radius: 3px;
  padding: 20px 70px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

.button--green--big:hover {
  background-color: #308f7d;
}

.bestsellers {
  position: relative;
  margin-bottom: 100px;
}

.bestsellers__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  margin-top: 0;
}

.bestsellers__bg-text {
  font-weight: 700;
  font-size: 288px;
  line-height: 353px;
  position: absolute;
  top: -20%;
  color: rgba(27, 27, 27, 0.02);
  width: 100%;
  overflow: hidden;
}

.bestsellers__books {
  margin-left: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.book {
  width: 200px;
  display: block;
  text-decoration: none;
}

.book__tag {
  margin-bottom: 20px;
}

.book__img {
  margin-bottom: 40px;
}

.book__img img {
  -webkit-box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
}

.book__author {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.44;
  margin-bottom: 14px;
  color: #1b1b1b;
}

.book__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
  color: #1b1b1b;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating__count {
  color: #3AA491;
  margin-left: 3px;
}

.tag--green {
  background-color: #3AA491;
  padding: 7px 12px;
  display: inline-block;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
}

.tag--gray {
  background-color: #dddddd;
  padding: 7px 12px;
  display: inline-block;
  border-radius: 3px;
  color: #1b1b1b;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.popular {
  margin-bottom: 100px;
  position: relative;
}

.popular__books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__bg-text {
  font-weight: 700;
  font-size: 288px;
  line-height: 288px;
  position: absolute;
  top: -20%;
  color: rgba(27, 27, 27, 0.02);
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.popular__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  margin-top: 0;
}

.popular__bg {
  width: 100%;
  height: 250px;
  background-color: #3aa491;
  margin-top: -180px;
}

.popular-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 440px;
}

.popular-book__author {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.44;
  margin-bottom: 14px;
}

.popular-book__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
  margin-top: 20px;
}

.popular-book__content {
  width: 325px;
  height: 250px;
  background-color: #DDDDDD;
  -webkit-box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
  padding: 38px 0 38px 30px;
}

.popular-book__image {
  -webkit-box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
}

.popular-book__rating {
  margin-top: 22px;
}

.popular-book__button {
  margin-top: 20px;
}

.footer {
  height: 350px;
  background-color: #1b1b1b;
  padding: 100px 155px;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  color: #dddddd;
}

.footer__logo span {
  color: rgba(255, 255, 255, 0.5);
}

.footer__footer-column {
  margin: 0;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 135px;
}

.footer__socials {
  width: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-column {
  padding: 0;
  list-style: none;
}

.footer-column__item {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 2px;
}

.footer-column__item a:hover {
  color: #ffffff;
}

.footer-column__item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-column__item--main a {
  color: #ffffff;
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

.page-navigation__title {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.page-navigation__sections {
  margin-top: 25px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1b1b1b;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.5;
}

.breadcrumbs__arrow {
  margin: 0 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 10px;
}

.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 426px;
}

.sections__item {
  background-color: #DDDDDD;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 7px 20px;
}

.sections__item:hover {
  background-color: #3aa491;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__text {
  margin-right: 10px;
}

.new-books--small {
  margin-top: 80px;
}

.book-page-new-books {
  margin-top: 160px;
  margin-bottom: 120px;
}

.book-info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book-info__image {
  background-color: #dddddd;
  padding: 80px 130px;
}

.book-info__image img {
  width: 407px;
  border-radius: 6px 0px 0px 6px;
  -webkit-box-shadow: -12px 4px 21px rgba(0, 0, 0, 0.3);
          box-shadow: -12px 4px 21px rgba(0, 0, 0, 0.3);
}

.book-info__text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.book-info__info-pare {
  margin-bottom: 10px;
}

.book-info__name {
  font-size: 48px;
  line-height: 107.5%;
  color: #171717;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: normal;
}

.book-info__review {
  margin-top: 18px;
  margin-bottom: 20px;
}

.book-info__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
}

.book-info__button-buy {
  background: #3AA491;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 20px rgba(58, 164, 145, 0.4);
          box-shadow: 0px 4px 20px rgba(58, 164, 145, 0.4);
  outline: none;
}

.book-info__button-buy:hover {
  background-color: #308f7d;
}

.book-info__button-like {
  width: 60px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: #dddddd;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.book-info__button-like:hover {
  background-color: #d7d7d7;
}

.book-info__links {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-info__link {
  margin-right: 24px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.book-info__howToRead {
  margin-bottom: 45px;
}

.info-pare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-pare__key {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1B1B1B;
  opacity: 0.44;
  width: 100px;
}

.info-pare__prop {
  font-size: 18px;
  line-height: 18px;
  color: #1b1b1b;
  width: 225px;
}

.review {
  width: 400px;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__image {
  height: 16px;
  margin-right: 7px;
}

.review__counter {
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.review__count {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #171717;
  opacity: 0.44;
  margin-top: 3px;
}

.howToRead {
  padding: 35px;
  background-color: #f2f2f2;
  margin-top: 30px;
  border-radius: 3px;
  width: 400px;
}

.howToRead__title {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;
}

.howToRead__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.howToRead__item {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #171717;
  opacity: 0.44;
  width: 120px;
  margin-bottom: 7px;
}

.m-menu-button {
  height: 40px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.m-menu-button__line {
  width: 20px;
  height: 2px;
  background-color: #1b1b1b;
  border-radius: 2px;
}

.m-menu-button.active .m-menu-button__line {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.m-menu-button.active .m-menu-button__line:nth-child(1) {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.m-menu-button.active .m-menu-button__line:nth-child(2) {
  display: none;
}

.m-menu-button.active .m-menu-button__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 100;
}

.ham4 .bottom {
  stroke-dasharray: 40 100;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.mobile-menu {
  position: fixed;
  top: 95px;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: calc(100% - 95px);
  padding: 90px 60px;
  z-index: 99;
  background-color: rgba(58, 164, 145, 0.9);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__input {
  background-color: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 3px 0 0 3px;
  padding: 6px;
  border-right: none;
  color: #ffffff;
}

.mobile-menu__search-button {
  background-color: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 0 3px 3px 0;
  padding: 5px;
  border-left: none;
  height: 31px;
  width: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu__search-button img {
  width: 12px;
  height: 12px;
}

.mobile-menu__item {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 5px;
  position: relative;
}

.mobile-menu__item:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #ffffff;
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mobile-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__item:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mobile-menu__button--bordered {
  color: #fff;
  font-weight: 700;
  border: 2px solid #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mobile-menu__button--bordered:hover {
  background-color: #fff;
  color: rgba(58, 164, 145, 0.9);
}

@media (max-width: 1450px) {
  .container {
    width: 1200px;
  }
  .big-book {
    width: auto;
  }
  .big-book__image {
    width: 320px;
    height: 480px;
  }
  .big-book__image img {
    width: 225px;
  }
  .book:nth-child(6) {
    display: none;
  }
  .popular-book:nth-child(3) {
    display: none;
  }
  .popular__books {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 50px;
  }
  .footer__wrap {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .book-info__image {
    padding: 70px 110px;
  }
  .book-info__image img {
    width: 350px;
  }
}

@media (max-width: 1250px) {
  .container {
    width: 920px;
  }
  .search {
    width: 55%;
  }
  .menu__item {
    font-size: 20px;
    line-height: 24px;
  }
  .big-book__image {
    width: 280px;
    height: 420px;
  }
  .big-book__image img {
    width: 200px;
  }
  .big-book__author {
    font-size: 16px;
    line-height: 18px;
  }
  .big-book__name {
    font-size: 20px;
    line-height: 24px;
  }
  .button--green--big {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 50px;
  }
  .book:nth-child(5) {
    display: none;
  }
  .bestsellers__bg-text {
    display: none;
  }
  .bestsellers__title {
    font-size: 48px;
  }
  .popular__bg-text {
    display: none;
  }
  .popular__title {
    font-size: 48px;
  }
  .popular__books {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .book-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .book-info__image {
    padding: 65px 85px;
  }
  .book-info__image img {
    width: 300px;
  }
  .page-navigation__title {
    font-size: 48px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 750px;
  }
  .search {
    width: 45%;
  }
  .big-book__image {
    width: 240px;
    height: 360px;
  }
  .big-book__image img {
    width: 175px;
  }
  .big-book__author {
    font-size: 14px;
    line-height: 16px;
  }
  .big-book__name {
    font-size: 18px;
    line-height: 20px;
  }
  .button--green--big {
    font-size: 14px;
    line-height: 16px;
    padding: 13px 40px;
  }
  .book__img img {
    width: 160px;
  }
  .book__name {
    font-size: 16px;
    line-height: 18px;
  }
  .popular-book__name {
    font-size: 18px;
    line-height: 20px;
  }
  .popular-book__content {
    width: 240px;
    height: auto;
    padding: 25px 0px 25px 25px;
  }
  .popular-book__image {
    width: 160px;
  }
  .footer__wrap {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__wrap:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .book-info__image {
    padding: 55px 65px;
  }
  .book-info__image img {
    width: 240px;
  }
  .book-info__name {
    font-size: 36px;
  }
  .book-info__buttons {
    width: 350px;
  }
  .book-info__link {
    margin-right: 20px;
  }
  .review {
    width: 350px;
    padding: 25px;
  }
  .howToRead {
    width: 350px;
    padding: 25px;
  }
  .book-page-new-books {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 550px;
  }
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__notification {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
  }
  .logo {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .search {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 20px;
  }
  .menu__item {
    font-size: 16px;
    line-height: 18px;
  }
  .big-book {
    -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
  }
  .big-book__image {
    width: 160px;
    height: 240px;
  }
  .big-book__image img {
    width: 125px;
  }
  .big-book__author {
    font-size: 14px;
    line-height: 16px;
  }
  .big-book__name {
    font-size: 16px;
    line-height: 18px;
  }
  .big-book__button--green--big {
    font-size: 13px;
    line-height: 14px;
    padding: 11px 30px;
  }
  .book:nth-child(4) {
    display: none;
  }
  .book:first-child {
    margin-left: 20px;
  }
  .book {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .book__img img {
    width: 160px;
  }
  .popular-book:nth-child(2) {
    display: none;
  }
  .popular__books {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popular__title {
    font-size: 36px;
  }
  .popular-book__content {
    width: 310px;
  }
  .bestsellers__title {
    font-size: 36px;
  }
  .footer__wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-navigation {
    margin-top: 30px;
  }
  .breadcrumbs__item {
    font-size: 12px;
    line-height: 14px;
  }
  .book-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 35px;
  }
  .book-info__image {
    padding: 60px 75px;
    margin-bottom: 40px;
  }
  .book-info__image img {
    width: 280px;
  }
  .book-info__buttons {
    width: 400px;
  }
  .book-info__link {
    margin-right: 20px;
  }
  .review {
    width: 400px;
    padding: 30px;
  }
  .howToRead {
    width: 400px;
    padding: 30px;
  }
  .page-navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-navigation__block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  .page-navigation__sections {
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
  .search {
    display: none;
  }
  .header {
    padding-top: 30px;
  }
  .header__button--bordered {
    display: none;
  }
  .header__button--green {
    display: none;
  }
  .header__notification {
    margin-top: 0;
    margin-left: auto;
    margin-right: 20px;
  }
  .header__notification img {
    margin-bottom: -3px;
  }
  .menu {
    display: none;
    margin-top: 30px;
  }
  .m-menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .big-book:first-child {
    display: none;
  }
  .big-book__image {
    width: 200px;
    height: 300px;
  }
  .big-book__image img {
    width: 150px;
  }
  .big-book__author {
    font-size: 16px;
    line-height: 18px;
  }
  .big-book__name {
    font-size: 20px;
    line-height: 24px;
  }
  .big-books {
    margin-top: 30px;
    margin-bottom: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .book:nth-child(3) {
    display: none;
  }
  .bestsellers {
    margin-bottom: 40px;
  }
  .bestsellers__books {
    margin-top: 30px;
  }
  .popular {
    margin-bottom: 40px;
  }
  .popular__books {
    margin-top: 30px;
  }
  .popular__bg {
    height: 450px;
    margin-top: -410px;
  }
  .popular-book {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular-book__content {
    padding: 25px;
    width: 240px;
  }
  .footer {
    padding: 75px 100px;
  }
  .book-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .book-info__image {
    padding: 60px 75px;
    margin-bottom: 40px;
  }
  .book-info__image img {
    width: 260px;
  }
  .page-navigation__title {
    font-size: 36px;
  }
  .page-navigation__sections {
    margin-top: 10px;
  }
  .sections {
    width: 75%;
  }
  .sections__item {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 480px) {
  .big-book:nth-child(2) {
    display: none;
  }
  .big-book__image {
    width: 240px;
    height: 360px;
  }
  .big-book__image img {
    width: 175px;
  }
  .big-book__author {
    font-size: 16px;
    line-height: 18px;
  }
  .big-book__name {
    font-size: 20px;
    line-height: 24px;
  }
  .button--green--big {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 40px;
  }
  .book__img img {
    width: 140px;
  }
  .footer {
    padding: 60px 60px;
  }
  .footer__main {
    height: 80px;
  }
  .book-info__image {
    padding: 35px 40px;
    margin-bottom: 40px;
  }
  .book-info__image img {
    width: 220px;
  }
  .book-info__name {
    font-size: 36px;
  }
  .book-info__buttons {
    width: 300px;
  }
  .book-info__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .book-info__link {
    margin-right: 18px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .book-info__link:last-child {
    margin-bottom: 0;
  }
  .review {
    width: 300px;
    padding: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .howToRead {
    width: 300px;
    padding: 30px;
  }
  .howToRead__title {
    font-size: 18px;
    line-height: 22px;
  }
  .howToRead__item {
    font-size: 12px;
    line-height: 14px;
  }
  .info-pare__key {
    font-size: 14px;
    line-height: 16px;
    width: 90px;
  }
  .info-pare__prop {
    font-size: 16px;
    line-height: 16px;
    width: 210px;
  }
  .page-navigation__title {
    font-size: 36px;
    margin-top: 10px;
  }
  .page-navigation__sections {
    margin-top: 5px;
  }
  .sections {
    width: 95%;
  }
  .sections__item {
    padding: 7px 12px;
  }
  .mobile-menu {
    padding: 45px 50px;
  }
  .mobile-menu__item {
    font-size: 16px;
    line-height: 18px;
  }
  .mobile-menu__button--bordered {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 340px) {
  .sections {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */