* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #1b1b1b;
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  border-top: 3px solid #1b1b1b;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #1b1b1b;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
}

.logo span {
  color: #3AA491;
}

.search {
  width: 900px;
  height: 40px;
  border: 1px solid #1B1B1B;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px;
}

.button--green {
  background-color: #3AA491;
  border-radius: 3px;
  padding: 12px 16px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.button--green:hover {
  background-color: #308f7d;
}

.button--bordered {
  border: 1px solid #1B1B1B;
  border-radius: 3px;
  padding: 12px 16px;
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.button--bordered:hover {
  background-color: #1b1b1b;
  color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.menu__item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-decoration: none;
  color: #1b1b1b;
}

.menu__item:hover {
  text-decoration: underline;
}

.big-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 8px;
}

.big-book {
  width: 440px;
  display: block;
}

.big-book__image {
  background-color: #dddddd;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.big-book__image img {
  -webkit-box-shadow: -12px 6px 21px rgba(0, 0, 0, 0.5);
          box-shadow: -12px 6px 21px rgba(0, 0, 0, 0.5);
  border-radius: 5px 0px 0px 5px;
}

.big-book__author {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #3AA491;
  margin-bottom: 10px;
}

.big-book__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}

.button--green--big {
  background-color: #3AA491;
  border-radius: 3px;
  padding: 20px 70px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

.button--green--big:hover {
  background-color: #308f7d;
}
/*# sourceMappingURL=style.css.map */