* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
}

.no-scroll {
    overflow: hidden;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #1b1b1b;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;

    &__notification {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #1b1b1b;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    span {
        color: #3AA491;
    }
}

.search {
    width: 60%;
    height: 40px;
    border: 1px solid #1B1B1B;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px; 
}

.button--green {
    background-color: #3AA491;
    border-radius: 3px;
    padding: 12px 16px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    
    &:hover {
        background-color: rgb(48, 143, 125);
    }
}

.button--bordered {
    border: 1px solid #1B1B1B;
    border-radius: 3px;
    padding: 12px 16px;
    text-decoration: none;
    color: #1b1b1b;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    
    &:hover {
        background-color: #1b1b1b;
        color: #ffffff;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
    &__item {
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        text-decoration: none;
        color: #1b1b1b;
        position: relative;
    }

    &__item:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #1b1b1b;
        display: block;
        transform: scale(0);
        transition: 0.25s;
    }
}

.menu__item:hover:after {
    transform: scale(1);
}

.big-books {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.big-book {
    width: 440px;
    
    &__image {
        background-color: #dddddd;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
        img {
            box-shadow: -12px 6px 21px rgba(0, 0, 0, 0.5);
            border-radius: 5px 0px 0px 5px;
            width: 274px;
        }
    }
    
    &__author {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #3AA491;
        margin-bottom: 10px;
    }
    
    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;
        margin-top: 0px;
    }
}

.button--green--big {
    background-color: #3AA491;
    border-radius: 3px;
    padding: 20px 70px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    
    &:hover {
        background-color: rgb(48, 143, 125);
    }
}

.bestsellers {
    position: relative;
    margin-bottom: 100px;
    
    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        margin-top: 0;
    }
    
    &__bg-text {
        font-weight: 700;
        font-size: 288px;
        line-height: 353px;
        position: absolute;
        top: -20%;
        color: rgba(27, 27, 27, 0.02);
        width: 100%;
        overflow: hidden;
    }
    
    &__books {
        margin-left: -25px;
        display: flex;
        margin-top: 45px;
        justify-content: space-around;
    }
}

.book {
    width: 200px;
    display: block;
    text-decoration: none;
    
    &__tag {
        margin-bottom: 20px;
    }
    
    &__img {
        margin-bottom: 40px;
        
        img {
            box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
        }
    }
    
    &__author {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.44;
        margin-bottom: 14px;
        color: #1b1b1b;
    }
    
    &__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 14px;
        color: #1b1b1b;
        min-height: 48px;
    }
}

.rating {
    display: flex;
    align-items: center;
    
    &__count {
        color: #3AA491;
        margin-left: 3px;
    }
}

.tag--green {
    background-color: #3AA491;
    padding: 7px 12px;
    display: inline-block;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
}

.tag--gray {
    background-color: #dddddd;
    padding: 7px 12px;
    display: inline-block;
    border-radius: 3px;
    color: #1b1b1b;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.popular {
    margin-bottom: 100px;
    position: relative;

    &__books {
        display: flex;
        margin-top: 65px;
        justify-content: space-between;
        align-items: center;
    }

    &__bg-text {
        font-weight: 700;
        font-size: 288px;
        line-height: 288px;
        position: absolute;
        top: -20%;
        color: rgba(27, 27, 27, 0.02);
        width: 100%;
        overflow: hidden;
        z-index: -1;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        margin-top: 0;
    }

    &__bg {
        width: 100%;
        height: 250px;
        background-color: #3aa491;
        margin-top: -180px;
    }
}

.popular-book {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;

    &__author {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.44;
        margin-bottom: 14px;
    }

    &__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 14px;
        margin-top: 20px;
        height: 48px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__content {
        width: 325px;
        height: 250px;  
        background-color: #DDDDDD;
        box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
        padding: 38px 0 38px 30px;
    }

    &__image {
        box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.2);
    }

    &__rating {
        margin-top: 22px;
    }

    &__button {
        margin-top: 20px;
    }
}

.footer {
    height: 350px;
    background-color: #1b1b1b;
    padding: 100px 155px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    &__logo {
        color: #dddddd;

        span {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__footer-column {
        margin: 0;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 135px;
    }

    &__socials {
        width: 132px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer-column {
    padding: 0;
    list-style: none;

    &__item {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 2px;

        a:hover {
            color: #ffffff;
        }

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__item--main {
        a {
            color: #ffffff;
        }
    }
}

.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;

    &__title {
        font-size: 64px;
        line-height: 78px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 0;
    }

    &__sections {
        margin-top: 25px;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    color: #1b1b1b;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &__item {
        opacity: 0.5;
        color: #1b1b1b;
        text-decoration: none;
    }

    &__arrow {
        margin: 0 10px;
        transform: rotate(-90deg);
        width: 10px;
        opacity: 0.5;
    }
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 426px;
    
    &__item {
        background-color: #DDDDDD;
        border-radius: 3px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 7px 20px;
    }

    &__item:hover {
        background-color: #3aa491;
    }
}

.filter {
    display: flex;
    align-items: center;

    &__text {
        margin-right: 10px;
    }
}

.new-books--small {
    margin-top: 80px;
}

.book-page-new-books {
    margin-top: 160px;
    margin-bottom: 120px;
}

.book-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    &__image {
        background-color: #dddddd;
        padding: 80px 130px;
        img {
            width: 407px;
            border-radius: 6px 0px 0px 6px;
            box-shadow: -12px 4px 21px rgba(0, 0, 0, 0.3);
        }
    }

    &__text {
        flex-basis: 45%;
    }

    &__info-pare {
        margin-bottom: 10px;
    }

    &__name {
        font-size: 48px;
        line-height: 107.5%;
        color: #171717;
        margin-bottom: 20px;
        margin-top: 0;
        font-weight: normal;
    }

    &__review {
        margin-top: 18px;
        margin-bottom: 20px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
    }

    &__button-buy {
        background: #3AA491;
        border-radius: 3px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 15px 25px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 4px 20px rgba(58, 164, 145, 0.4);
        outline: none;

        &:hover {
            background-color: rgb(48, 143, 125);
        }
    }

    &__button-like {
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #dddddd;
        border-radius: 3px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: #d7d7d7;
        }
    }

    &__links {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    &__link {
        margin-right: 24px;
        font-size: 18px;
        line-height: 20px;
        color: #000000;
    }

    &__howToRead {
        margin-bottom: 45px;
    }
}

.info-pare {
    display: flex;
    align-items: center;
    
    &__key {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #1B1B1B;   
        opacity: 0.44;
        width: 100px;
    }

    &__prop {
        font-size: 18px;
        line-height: 18px;
        color: #1b1b1b;
        width: 225px;
    }
}

.review {
    width: 400px;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__image {
        height: 16px;
        margin-right: 7px;
    }

    &__counter {
        font-size: 16px;
        line-height: 16px;
        color: #333333;
    }

    &__count {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #171717;
        opacity: 0.44;
        margin-top: 3px;
    }
}

.howToRead {
    padding: 35px;
    background-color: #f2f2f2;
    margin-top: 30px;
    border-radius: 3px;
    width: 400px;

    &__title {
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 15px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #171717; 
        opacity: 0.44;
        width: 120px;
        margin-bottom: 7px;
    }
}

.m-menu-button {
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    order: 3;

    &__line {
        width: 20px;
        height: 2px;
        background-color: #1b1b1b;
        border-radius: 2px;
    }
}

.m-menu-button.active {

    .m-menu-button__line {
        transition: 0.2s;
    }

    .m-menu-button__line:nth-child(1) {
        position: absolute;
        transform: rotate(45deg);
    }
    
    .m-menu-button__line:nth-child(2) {
        display: none;
    }
    
    .m-menu-button__line:nth-child(3) {
        transform: rotate(-45deg);
    }
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:3;
    stroke-linecap:round;
}

.ham4 .top {
    stroke-dasharray: 40 100;
}

.ham4 .bottom {
    stroke-dasharray: 40 100;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.mobile-menu {
    position: fixed;
    top: 95px;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 95px);
    padding: 90px 60px;
    z-index: 99;
    background-color: rgba(58, 164, 145, 0.9);
    transition: 0.4s;

    &__search {
        display: flex;
    }

    &__input {
        background-color: transparent;
        outline: none;
        border: 2px solid #fff;
        border-radius: 3px 0 0 3px;
        padding: 6px;
        border-right: none;
        color: #ffffff;
    }

    &__search-button {
        background-color: transparent;
        outline: none;
        border: 2px solid #fff;
        border-radius: 0 3px 3px 0;
        padding: 5px;
        border-left: none;
        height: 31px;
        width: 31px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 12px;
            height: 12px;
        }
    }

    &__item {
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 5px;
        position: relative;
    }

    &__item:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #ffffff;
        display: block;
        transform: scale(0);
        transition: 0.25s;
    }
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu__item:hover:after {
    transform: scale(1);
}

.mobile-menu__button--bordered {
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
    transition: 0.25s;

    &:hover {
        background-color: #fff;
        color: rgba(58, 164, 145, 0.9);
    }
}



@media (max-width: 1450px) {
    .container {
        width: 1200px;
    }

    .big-book {
        width: auto;

        &__image {
            width: 320px;
            height: 480px;

            img {
                width: 225px;
            }
        }
    }

    .book:nth-child(6) {
        display: none;
    }

    .popular-book:nth-child(3) {
        display: none;
    }

    .popular__books {
        justify-content: space-around;
    }

    .footer {
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
        padding-bottom: 50px;
    }

    .footer__wrap {
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .book-info__image {
        padding: 70px 110px;
        img {
            width: 350px;
        }
    }
}

@media (max-width: 1250px) {
    .container {
        width: 920px;
    }

    .search {
        width: 55%;
    }

    .menu__item {
        font-size: 20px;
        line-height: 24px;
    }

    .big-book {
        
        &__image {
            width: 280px;
            height: 420px;

            img {
                width: 200px;
            }
        }

        &__author {
            font-size: 16px;
            line-height: 18px;
        }

        &__name {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .button--green--big {
        font-size: 16px;
        line-height: 18px;
        padding: 15px 50px;
    }

    .book:nth-child(5) {
        display: none;
    }

    .bestsellers {

        &__bg-text {
            display: none;
        }

        &__title {
            font-size: 48px;
        }
    }

    .popular {

        &__bg-text {
            display: none;
        }

        &__title {
            font-size: 48px;
        }

        &__books {
            justify-content: space-between;
        }
    }

    .book-info {
        align-items: flex-start;
    }

    .book-info__image {
        padding: 65px 85px;
        img {
            width: 300px;
        }
    }

    .page-navigation__title {
        font-size: 48px;
    }
}

@media (max-width: 960px) {
    .container {
        width: 750px;
    }

    .search {
        width: 45%;
    }

    .big-book {
        
        &__image {
            width: 240px;
            height: 360px;

            img {
                width: 175px;
            }
        }

        &__author {
            font-size: 14px;
            line-height: 16px;
        }

        &__name {
            font-size: 18px;
            line-height: 20px;
        }
    }

    .button--green--big {
        font-size: 14px;
        line-height: 16px;
        padding: 13px 40px;
    }

    .book {

        &__img {
            img {
                width: 160px;
            }
        }

        &__name {
            font-size: 16px;
            line-height: 18px;
        }
    }

    .popular-book {

        &__name {
            font-size: 18px;
            line-height: 20px;
        }

        &__content {
            width: 240px;
            height: auto;
            padding: 25px 0px 25px 25px;
        }

        &__image {
            width: 160px;
        }
    }

    .footer__wrap {
        flex-basis: 45%;
        justify-content: flex-start;
    }

    .footer__wrap:nth-child(3) {
        order: 1;
    }

    .book-info {

        &__image {
            padding: 55px 65px;
            img {
                width: 240px;
            }
        }

        &__name {
            font-size: 36px;
        }

        &__buttons {
            width: 350px;
        }

        &__link {
            margin-right: 20px;
        }
    }

    .review {
        width: 350px;
        padding: 25px;
    }

    .howToRead {
        width: 350px;
        padding: 25px;
    }

    .book-page-new-books {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media (max-width: 800px) {
    .container {
        width: 550px;
    }

    .header {
        flex-wrap: wrap;
        
        &__notification {
            order: 2;
            margin-top: 20px;
        }
    }

    .logo {
        flex-basis: 55%;
    }

    .search {
        flex-basis: 90%;
        order: 1;
        margin-top: 20px;
    }

    .menu__item {
        font-size: 16px;
        line-height: 18px;
    }

    .big-book {
        flex-basis: 29%;
        &__image {
            width: 160px;
            height: 240px;

            img {
                width: 125px;
            }
        }

        &__author {
            font-size: 14px;
            line-height: 16px;
        }

        &__name {
            font-size: 16px;
            line-height: 18px;
        }

        &__button--green--big {
            font-size: 13px;
            line-height: 14px;
            padding: 11px 30px;
        }
    }

    .book:nth-child(4) {
        display: none;
    }

    .book:first-child {
        margin-left: 20px;
    }

    .book {
        flex-basis: 30%;
    }

    .book__img {
        img {
            width: 160px;
        }
    }

    .popular-book:nth-child(2) {
        display: none;
    }

    .popular__books {
        justify-content: center;
    }

    .popular__title {
        font-size: 36px;
    }

    .popular-book__content {
        width: 310px;
    }

    .bestsellers__title {
        font-size: 36px;
    }

    .footer__wrap {
        flex-basis: 100%;
    }

    .footer {
        justify-content: center;
    }

    .page-navigation {
        margin-top: 30px;
    }

    .breadcrumbs__item {
        font-size: 12px;
        line-height: 14px;
    }

    .book-info {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 35px;

        &__image {
            padding: 60px 75px;
            margin-bottom: 40px;
            img {
                width: 280px;
            }
        }

        &__buttons {
            width: 400px;
        }

        &__link {
            margin-right: 20px;
        }
    }

    .review {
        width: 400px;
        padding: 30px;
    }

    .howToRead {
        width: 400px;
        padding: 30px;
    }

    .page-navigation {
        flex-wrap: wrap;

        &__block {
            flex-basis: 100%;
            margin-bottom: 20px;
        }

        &__sections {
            margin-top: 15px;
        }
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .search {
        display: none;
    }

    .header {
        padding-top: 30px;

        &__button--bordered {
            display: none;
        }
    
        &__button--green {
            display: none;
        }

        &__notification {
            margin-top: 0;
            margin-left: auto;
            margin-right: 20px;

            img {
                margin-bottom: -3px;
            }
        }
    }

    .menu {
        display: none;
        margin-top: 30px;
    }

    .m-menu-button {
        display: flex;
    }

    .big-book:first-child {
        display: none;
    }

    .big-book {
        &__image {
            width: 200px;
            height: 300px;

            img {
                width: 150px;
            }
        }

        &__author {
            font-size: 16px;
            line-height: 18px;
        }

        &__name {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .big-books {
        margin-top: 30px;
        margin-bottom: 50px;
        justify-content: space-around;
    }

    .book:nth-child(3) {
        display: none;
    }

    .bestsellers {
        margin-bottom: 40px;

        &__books {
            margin-top: 30px;
        }
    }

    .popular {
        margin-bottom: 40px;

        &__books {
            margin-top: 30px;
        }

        &__bg {
            height: 450px;
            margin-top: -410px;
        }
    }

    .popular-book {
        flex-direction: column;

        &__content {
            padding: 25px;
            width: 240px;
        }
    }

    .footer {
        padding: 75px 100px;
    }

    .book-info {
        align-items: center;

        &__image {
            padding: 60px 75px;
            margin-bottom: 40px;
            img {
                width: 260px;
            }
        } 
    }

    .page-navigation {

        &__title {
            font-size: 36px;
        }

        &__sections {
            margin-top: 10px;
        }
    }

    .sections {
        width: 75%;

        &__item {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

@media (max-width: 480px) {
    .big-book:nth-child(2) {
        display: none;
    }
    
    .big-book {
        &__image {
            width: 240px;
            height: 360px;

            img {
                width: 175px;
            }
        }

        &__author {
            font-size: 16px;
            line-height: 18px;
        }

        &__name {
            font-size: 20px;
            line-height: 24px;
        }
    }
    
    .button--green--big {
        font-size: 16px;
        line-height: 18px;
        padding: 15px 40px;
    }

    .book {
        &__img {
            img {
                width: 140px;
            }
        }
    }

    .footer {
        padding: 60px 60px;

        &__main {
            height: 80px;
        }
    }

    .book-info {

        &__image {
            padding: 35px 40px;
            margin-bottom: 40px;
            img {
                width: 220px;
            }
        }

        &__name {
            font-size: 36px;
        }

        &__buttons {
            width: 300px;
        }

        &__links {
            flex-wrap: wrap;
        }

        &__link {
            margin-right: 18px;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 8px;
        }

        &__link:last-child {
            margin-bottom: 0;
        }
    }

    .review {
        width: 300px;
        padding: 30px;
        justify-content: space-between;
    }

    .howToRead {
        width: 300px;
        padding: 30px;

        &__title {
            font-size: 18px;
            line-height: 22px;
        }

        &__item {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .info-pare {

        &__key {
            font-size: 14px;
            line-height: 16px;
            width: 90px;
        }

        &__prop {
            font-size: 16px;
            line-height: 16px;
            width: 210px;
        }
    }

    .page-navigation {

        &__title {
            font-size: 36px;
            margin-top: 10px;
        }

        &__sections {
            margin-top: 5px;
        }
    }

    .sections {
        width: 95%;

        &__item {
            padding: 7px 12px;
        }
    }

    .mobile-menu {
        padding: 45px 50px;

        &__item {
            font-size: 16px;
            line-height: 18px;
        }
    }

    .mobile-menu__button--bordered {
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width: 340px) {
    .sections {
        width: 100%;
    }
}

